#name{
	color: white;
}

#resume{
	text-decoration: none;
}

a{
	color: rgb(51,51,51);
}

a:focus{
	color: #266B39;
	text-decoration: none;
}

a:hover{
	color: #266B39;
	text-decoration: none;
}

body {
    padding-top: 4%;
}

.row{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-bottom: 30px;
}

.vtop{
    display: inline-block;
    vertical-align: top;
    float: none;
    padding-bottom: 40px;	
}

h3{
	margin-top: 0;
}

#roles {
	margin-bottom: 0;
}

.btn.btn-primary{
	background-color: #266B39;
	border-color: #266B39;
}

footer{
    margin: 0;
    padding-bottom: 2%;
}